<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Auth Demo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</head>

<body>
  <div class="container mt-4" style="width: 90%; max-width: 600px;">
    <% if (locals.currentUser) {%>
      <nav class="row align-items-center">
        <h1 class="col">WELCOME BACK <%= locals.currentUser.username %></h1>
        <a class="col btn btn-danger" href="/log-out">LOG OUT</a>
      </nav>
      
      <% // Login form %>
      <div class="border">
        <h4>Create a message</h3>
        <form action="/create-message" method="POST">
          <label for="title" class="form-label">Title</label>
          <input type="text" name="title" id="title" placeholder="Title..." class="form-control">
          <label for="message" class="form-label">Message</label>
          <input type="text" name="message" id="message" placeholder="Message..." class="form-control">
          <button type="submit" class="btn btn-primary mt-2">Send</button>
        </form>
      </div>

      <% if(!member){ %> 
        <h4>Want to see usernames? Go to the <a href="/membership" class="link">membership</a>.</h4> 
      <% } %>
      <% messages.map(message => {%>
        <form action="/deletemessage/<%=message._id%>" method="POST">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title"><%=message.title%></h2>
              <span class="card-subtitle">
                <% if(member){%>
                  <%=message.user%> at <%=message.timestamp%>
                <% } else {%>
                  <i>Log in to see membername and date</i>
                <%}%>
              </span>
              <div class="card-text"><%=message.message%></div>
              <% if (admin) {%>
                <button type="submit" class="btn btn-primary">Delete</button>
              <%}%>
            </div>
          </div>
        </form>
      <%})%>
      <% } else { %>
        <% // Login screen when not logged in %>
        <h2>Login to view and create messages!</h2>
        <form action="/log-in" method="POST">
          <label for="username" class="form-label">Username</label>
          <input name="username" class="form-control" placeholder="username" type="text" />
          <label for="password" class="form-label">Password</label>
          <input name="password" class="form-control" placeholder="password" type="password" />
          <div class="row align-items-center">
            <button class="col-4 btn btn-primary mt-4 ms-2">Log In</button>
            <a class="col-4" href="/sign-up">Or sign up.</a>
          </div>
        </form>
        <% if (locals.errorMessage) {%>
          <p>
            <%=locals.errorMessage%>
          </p>
        <%}%>

          <%}%>
    </div>
</body>

</html>